<center><h1>청하 - Roller Coaster</h1></center>
<center><iframe width="854" height="480" src="https://www.youtube.com/embed/900X9fDFLc4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></center>
</center><center><h2>I remember very<br>
first time in love<br>
I remember oh oh<br>
I remember oh oh<br>
너도 같은 기분일까<br>
so I'm in love<br>
I remember oh oh<br>
I remember oh~<br>
어머 이래도 되는지 싶어 (aha~)<br>
그래 너 때문에 매일 즐거워<br>
조금 서두르는 것 같아도 baby<br>
I need your love oh oh<br>
I need your love oh oh oh~<br>
심장이 훅 내려앉게 달콤해<br>
가끔은 상처받을까 걱정돼<br>
처음부터 모든 걸 알 순 없겠지<br>
하지만 난 다 던져볼래<br>
자꾸 아찔한 이 느낌<br>
위험한 이 느낌<br>
내 손을 꼭 잡아줘 I want you<br>
흔들리지 않게 조금 더 뜨겁게<br>
나를 꼭 더 안아줘<br>
넌 롤러코스터 ooh ahh ~<br>
롤러코스터uh woh ahh~<br>
I need your love ooh ahh ~<br>
baby your love uh woh ahh~<br>
빤히 바라볼 때 가슴이 떨려<br>
아닌 척 해봐도 뻔히 다 걸려<br>
내가 먼저 말하지 않아도<br>
이미 다 알아<br>
넌 내 맘과 같아 (aha~)<br>
너무 빠른 건 아닐까 싶어 (aha~)<br>
근데 너 때문에 매일 새로워<br>
조금 서툴러도 눈 감아줘 baby<br>
I need your love oh oh<br>
I need your love oh oh oh~<br>
시간이 멈춘 것처럼 달콤해<br>
갑자기 날 떠날까 봐 걱정돼<br>
처음부터 모든 걸 알 순 없겠지<br>
하지만 난 다 던져볼래<br>
자꾸 아찔한 이 느낌<br>
위험한 이 느낌<br>
내 손을 꼭 잡아줘 I want you<br>
흔들리지 않게 조금 더 뜨겁게<br>
넌 롤러코스터ooh ahh ~<br>
롤러코스터uh woh ahh~<br>
I need your love ooh ahh~<br>
Baby your love uh woh ahh~<br>
어쩌다 찾아온 내 사랑<br>
I love you I love you ~<br>
모든 게 꿈이 아니기를<br>
I love you I love you ~<br>
Look<br>
넌 롤러코스터ooh ahh ~<br>
롤러코스터uh woh ahh~<br>
I need your love ooh ahh ~<br>
baby your love uh woh ahh~<br>
롤러코스터!<br>
롤러코스터!</h2><center>